
<div class="trump right"  ng-controller="trumpController">
  <div class="right" style="width:30vw;">
    <form>
        <input type="text" name="user_input" class="input-lg"  ng-model="user_input" style="width:77%; float: left;"/>
        <input type="submit" class="btn-default" value = "Ask" ng-click="getResponse($('input[name=user_input]').val());" style="width:20%; float: right;" />
    </form>
  </div>
  <br />
  <div ng-show="started" class="response right" style="width:30vw;">{{response}}</div>
</div>
